<!-- Modal Popup with FORMULA 1 Disclaimer -->
<p-dialog header="Disclaimer" [(visible)]="display" [style]="{width: '50vw'}" position="top" [focusTrap]="true">
  This website is unofficial and is not associated in any way with the <a href="https://www.formula1.com/">Formula 1</a> companies.<br><br>
  <strong>F1, FORMULA ONE, FORMULA 1, FIA FORMULA ONE WORLD CHAMPIONSHIP, GRAND PRIX</strong> and related marks
  are trade marks of <a href="https://www.formula1.com/en/toolbar/guidelines.html">Formula One Licensing B.V.</a>
</p-dialog>
